html {
  height: auto;
  width: 100vw;
  margin: unset;
  overflow: scroll;
}

body{
  background: #77889912;
}

h1 {
  font-family: 'Corben', cursive;
  font-size: 1.5rem !important;
  font-weight: 400;
  text-align: center;
  color: #7c8c9c;
}

h2 {
  font-family: 'Corben', cursive;
  font-size: 1.25rem !important;
  font-weight: 400;
  text-align: left;
  color: #4d769f;
}

h3 {
  font-family: 'Corben', cursive;
  font-size: 1rem !important;
  font-weight: 400;
  text-align: center;
  color: #7c8c9c;
}

p {
  font-family: 'Corben', cursive;
  font-size: 1rem !important;
  font-weight: 400;
  text-align: center;
  color: #7c8c9c;
}

a {
  font-family: 'Corben', cursive;
  font-size: 1rem !important;
  font-weight: 400;
  text-align: center;
  color: #7c8c9c;
  text-decoration: none;
}

input,
textarea,
select {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-color: unset;
  border-width: 0 !important;
  width: 100% !important;
  line-height: 3rem !important;
  padding: .5rem 1rem !important;
  box-shadow: 0rem 0.5rem 0.5rem 0px #dddddd;
  background: white;
  font-family: 'Corben', cursive;
  font-size: 1.25rem !important;
  font-weight: 700;
  text-align: center;
  color: white;
}

.primary{
  color: #2196f3db;
}

.secondary{
  color: #5cc6b5e6;
}

.flashy-text {

  color: #4eb0a1e6;
}

.normal-text{

  color: #7c8c9c;
}

.invisible{
  display: none;
}

.visible{
  display: block;
}

.spy {
  max-width: 95vw;
  height: 6vh !important;
  padding: 1rem !important;
  overflow: hidden !important;
  background: white;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border: unset;
  position: fixed !important;
  top: 0 !important;
  margin-top: unset !important;
  z-index: 999;
}

.spy h1 {
  font-family: 'Corben', cursive;
  font-size: 1.25rem !important;
  font-weight: 700;
  text-align: center;
  color: #4eb0a1e6;
  line-height: 1rem;
}

.animate__animated.animate__fadeOut {
  --animate-duration: .50s;
}